*{
    margin: 0;
    padding: 0;
    box-sizing: nprder-box;
}
html{
    scroll-behavior: smooth;
}

/* Navbar*/
.navbar{
    display: flex;
    justify-content: center;
    background-color: rb;
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transform: all .5 ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px white;
}

/*8 Keysya Section  */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('iam_os-zOWIimSy12Q-unsplash.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
}
.main{
    display: flex;
    flex-direction: column;
    /*border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

/*about section*/

#about{
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 40px;
}
#intro h2{
    font: 4rem;
    margin-bottom: 50px;
}

/*memories*/
#memories{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

/*words*/
#words{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: pink;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 40px;
}
#intro h2{
    font: 1rem;
    margin-bottom: 40px;
}
